.form-container {
    max-width: 80%;
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
  }
  
  form {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  
  label {
    flex: 0 0 40%; 
    margin-right: 10px;
    text-align: right; 
  }
  
  input {
    flex: 1 0 60%; 
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.5em;
    margin-top: 1em;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  a {
    display: block;
    margin-top: 1em;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  