.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.interaction-page {
  flex: 1;
  padding: 20px;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.post-form textarea {
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.post-form button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-form button:hover {
  background-color: #0056b3;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
