.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Center align the grid items */
}

.project {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1201px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
